/* ini untuk NAVBAR*/

.navbar {
    font-family: 'century gothic';
    font-weight: bold;
}


/* ini untuk HEADER */
.header {
    height: 400px;
    /* background-color: aqua; */
    background-image: url(https://wallpaper.dog/large/5486500.png);
    margin: 0px;
}
/* ini untuk HEADER-SALAM */
.salam {
    float:left;
    font-style: oblique;
    font-family: 'century gothic';
}
.salam1 {    
    margin-top: 120px;
    margin-left: 150px;
    font-size:190%;
    color: dimgrey;
}
.salam2 {
    color: grey;
    border:solid;
    width: 300px;
    padding:5px;
    margin-top: -10px;
    margin-left: 150px;
}
.photo {
    float:left;
    margin-left: 200px;
}
.photo img {
    width:350px;
    margin-top:-47px;
    border-radius:0px;
}

/* ini untuk ABOUT ME */
.about-me {
    height:350px;
    background-image: url(https://cdn.hovia.com/app/uploads/dark-grey-black-wood-grain-pattern-wallpaper-mural-Plain-scaled.jpg);
    opacity: 0.7;
}
.judul {
    color: white;
    font-family: 'century gothic';
    font-size: 200%;
    margin-left: 150px;
    margin-top: 150px;
    font-weight: bold;
}
.isi {
  
    width:500px;
    float:left;
    color:thistle;
    font-family: 'century gothic';
    margin-top: 30px;
    font-size: 100%;
}

/* ini untuk CAROUSEL */
.carousel-caption {
    font-family: 'century gothic';
}
.carousel-caption h5{
    font-weight: bold;
}


/* ini untuk LEAVE YOUR COMMENT */
.leaveyourcomment {
    background-color:#dcdcdc;
    height: auto;
}
.isi-leaveyourcomment {
    font-family: 'century gothic';
    font-weight: bold;
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
    padding:20px;
}


/* ini untuk SOCMED */
.socmed {
    height:150px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-YWrpuabaUNBU_iEqcmH-w-phGCrffN2yoA&usqp=CAU);
}
.findme {
    float: center;
    text-align: center;
    font-family: 'century gothic';
    font-style: inherit;
    background-color:#dcdcdc;
    color: #686868 ;
    margin-top: 0px;
    font-size: 150%;
}

/* ini untuk FOOTER */
.footer {
    background-color: black;
    padding: 7px;
    text-align: center;
    color: blanchedalmond;
}
.modal {
    color: black;
    text-align: left;
}
a {
    text-decoration: none;
}